.myinfo {
    float: left;
    width: 308px;
    padding: 33px 119px !important;
}

.mgts {
    /*문의사항 아래 공백라인*/
    margin-top: 17px !important;
    margin-bottom: 17px;
}

#container_join { /*id = container_join 부분 css*/
    position: relative;
    z-index: 70;
    display: block;
}

.container_join { /*class = container_join 부분 css*/
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0 0 64px;
}